<div>
   <h1>{{name}}</h1>
       <h1>users:</h1>
       <hr>
       <h1>user1:</h1>
       <h2>name:{{users.[0].name}}</h2>
       <h3>id:{{users.[0].id}}</h3>    
       <h3>gender:{{users.[0].gender}}</h3>
       <h3>age:{{users.[0].age}}</h3>
       <hr>
       <h1>friends:</h1>
       <h2>name:{{users.[0].friends.[0].name}}</h2>
       <h3>id:{{users.[0].friends.[0].id}}</h3>    
       <h3>gender:{{users.[0].friends.[0].gender}}</h3>
       <h3>age:{{users.[0].friends.[0].age}}</h3>
       <h1>mutual_friends: </h1>
       <h2>name:{{users.[0].friends.[0].mutual_friends.[0].name}}</h2>
       <h3>id:{{users.[0].friends.[0].mutual_friends.[0].id}}</h3>    
       <h3>gender:{{users.[0].friends.[0].mutual_friends.[0].gender}}</h3>
       <h3>age:{{users.[0].friends.[0].mutual_friends.[0].age}}</h3>
       <h1>friends:</h1>
       <h2>name:{{users.[0].friends.[1].name}}</h2>
       <h3>id:{{users.[0].friends.[1].id}}</h3>    
       <h3>gender:{{users.[0].friends.[1].gender}}</h3>
       <h3>age:{{users.[0].friends.[1].age}}</h3>
       <br>
      <h1>mutual_friends: </h1>
       <h2>name:{{users.[0].friends.[1].mutual_friends.[0].name}}</h2>
       <h3>id:{{users.[0].friends.[1].mutual_friends.[0].id}}</h3>    
       <h3>gender:{{users.[0].friends.[1].mutual_friends.[0].gender}}</h3>
       <h3>age:{{users.[0].friends.[1].mutual_friends.[0].age}}</h3>
       <br>
      <h1>Groups: </h1>
       <h3>id:{{users.[0].groups.[0].id}}</h3> 
       <h2>name:{{users.[0].groups.[0].name}}</h2> 
       <h3>description:{{users.[0].groups.[0].description}}</h3>
       <h1>members: </h1> 
       <h3>id:{{users.[0].groups.[1].members.[1].id}}</h3> 
       <h2>name:{{users.[0].groups.[1].members.[1].name}}</h2> 
       <h3>age:{{users.[0].groups.[1].members.[1].age}}</h3>
       <br>
       <h1>Groups: </h1>
       <h3>id:{{users.[0].groups.[1].id}}</h3> 
       <h2>name:{{users.[0].groups.[1].name}}</h2> 
       <h3>description:{{users.[0].groups.[1].description}}</h3>
      <h1>members: </h1> 
       <h3>id:{{users.[0].groups.[1].members.[0].id}}</h3> 
       <h2>name:{{users.[0].groups.[1].members.[0].name}}</h2> 
       <h3>age:{{users.[0].groups.[1].members.[0].age}}</h3>
       <br>
       <h3>id:{{users.[0].groups.[1].members.[1].id}}</h3> 
       <h2>name:{{users.[0].groups.[1].members.[1].name}}</h2> 
       <h3>age:{{users.[0].groups.[1].members.[1].age}}</h3>
       <hr>
        <h1>user2:</h1>
       <h2>name:{{users.[1].name}}</h2>
       <h3>id:{{users.[1].id}}</h3>    
       <h3>gender:{{users.[1].gender}}</h3>
       <h3>age:{{users.[1].age}}</h3>
       <hr>
         <h1>friends:</h1>
       <h3>name:{{users.[1].friends.[0].name}}</h3>
       <h3>id:{{users.[1].friends.[0].id}}</h3>    
       <h3>gender:{{users.[1].friends.[0].gender}}</h3>
       <h3>age:{{users.[1].friends.[0].age}}</h3>
        <br>
      <h1>mutual_friends: </h1>
       <h3>name:{{users.[1].friends.[0].mutual_friends.[0].name}}</h3>
       <h3>id:{{users.[1].friends.[0].mutual_friends.[0].id}}</h3>    
       <h3>gender:{{users.[1].friends.[0].mutual_friends.[0].gender}}</h3>
       <h3>age:{{users.[1].friends.[0].mutual_friends.[0].age}}</h3>
      <br>
       <h3>name:{{users.[1].friends.[0].mutual_friends.[1].name}}</h3>
       <h3>id:{{users.[1].friends.[0].mutual_friends.[1].id}}</h3>    
       <h3>gender:{{users.[1].friends.[0].mutual_friends.[1].gender}}</h3>
       <h3>age:{{users.[1].friends.[0].mutual_friends.[1].age}}</h3>
       <h3>mutual_friends: </h3>
       {{#with users.[1].friends.[0].mutual_friends.[1].mutual_friends}}
         <ul>
         <li>id:{{[0].id}}</li>
         <li>name:{{[0].name}}</li>
         <li>gender:{{[0].gender}}</li>
         <li>age:{{[0].age}}</li>
         </ul>
      {{/with}}
       <h1>groups: </h1>
       <h3>name:{{users.[1].friends.[0].groups.[0].name}}</h3>
       <h3>id:{{users.[1].friends.[0].groups.[0].id}}</h3>    
       <h3>description:{{users.[1].friends.[0].groups.[0].description}}</h3>
       <h2>members: </h2> 
        {{#with users.[1].friends.[0].groups.[0].members}}
         <ul>
         <li>id:{{[0].id}}</li>
         <li>name:{{[0].name}}</li>
         <li>gender:{{[0].gender}}</li>
         <li>age:{{[0].age}}</li>
         </ul>
      {{/with}}
      <h1>groups: </h1>
      <h3>name:{{users.[1].friends.[0].groups.[1].name}}</h3>
       <h3>id:{{users.[1].friends.[0].groups.[1].id}}</h3>    
       <h3>description:{{users.[1].friends.[0].groups.[1].description}}</h3>
       <h2>members: </h2> 
        {{#with users.[1].friends.[0].groups.[1].members}}
         <ul>
         <li>id:{{[0].id}}</li>
         <li>name:{{[0].name}}</li>
         <li>gender:{{[0].gender}}</li>
         <li>age:{{[0].age}}</li>
         </ul>
         <ul>
         <li>id:{{[1].id}}</li>
         <li>name:{{[1].name}}</li>
         <li>gender:{{[1].gender}}</li>
         <li>age:{{[1].age}}</li>
         </ul>
       {{/with}}
</div>


       
 

    
 
