<div>
{{# with main}}
    <main>
        <section>
          {{> title data="Work history" big=true}}
          <div>
            <ul>
               {{#each works}}
                 <li>
                    <div>{{position }}</div>
                    <br>
                    <div>
                        {{duration.from}} -
                        {{#if duration.to}}
                             {{duration.to}}
                        {{else}}
                             (досі працюємо)
                        {{/if}}
                    </div>
                    <br>
                    <div>
                    {{#unless href}}
                    {{#if href}}
                    <div><b>{{company.name}}</b></div>
                     {{else}}
                     <div>{{> link text=company.name href=company.url blank=true noLine=true}}</a></div>
                    {{/if}}
                    {{/unless}}
                    </div>
                    <br>
                    <div><strong>Project({{projectAmount}})</strong></div>
                    <br>
                    <ul>
                     {{#each projects}}
                       <li> 
                          <div>{{> link text=name href=url blank=true noLine=true}}</a></div>
                          <br>
                          <div><p>{{about}}</p></div>
                          <br>
                          <div>
                          <p><em>"Project stacks"({{stackAmount}})</em></p>
                          </div>
                          <div>
                          <ul>
                         {{#each stacks}}
                           <li>{{name}}</li>  
                         {{/each}}             
                         </ul>
                         <br>
                         <div>
                          <p><em>"Project awards"</em></p>
                          </div>
                         <div>
                         <ul>
                         {{#each awards}}
                           <li>{{name}}</li>  
                         {{/each}}             
                         </ul>
                         </div>
                    {{/each}}
                   </ul>
              {{/each}}
         </div>  
        </section> 
    </main>
{{/with}}
</div>

