<div>
    {{#if big}}

    <h2 class="mb-5">{{data}}</h2>
    
    {{else}}

    <h3 class="mb-3">{{data}}</h3>

    {{/if}}

   <b>{{data.text}}</b>
</div>



 {{!-- {{#with data}}

<h2>{{title}}</h2>
<b>{{text}}</b>
{{/with}} --}}

   
 


 